<div class="jumbotron jumbotron-fluid pt110 text-xs-center">
    <h1 class="display-3">{{ page.title }}</h1>
    <p class="lead">{{ page.description }}</p>
</div>
<div id="page-main" class="container">
    <div class="row page-header">
        <div class="col-sm-6">
            <breadcrumbs></breadcrumbs>
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-pills">
              <li ng-repeat="style in giottoThemes" ng-class="{active: style.name === currentTheme}" >
                <a ng-href="?style=" ng-bind="style.title" ng-click="selectTheme($event, style.name)"></a>
              </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" d3-highlight>
            {{ html_main }}
        </div>
    </div>
</div>
