<div id="page-main" class="container pt80">
    <div class="row page-header">
        <div class="col-sm-6">
            <breadcrumbs></breadcrumbs>
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-pills">
              <li ng-repeat="style in giottoThemes" ng-class="{active: style.name === currentTheme}" >
                <a ng-href="?style=" ng-bind="style.title" ng-click="selectTheme($event, style.name)"></a>
              </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" lux-highlight>
            <h2>{{ page.title }}</h2>
            {{ html_main }}
        </div>
    </div>
</div>
