<!DOCTYPE html>
<html data-debug='false' lang='en' prefix='og: http://ogp.me/ns#'>
<head>
<title>Area Chart</title>
<meta charset='utf-8'>
<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='#ffffff' name='msapplication-TileColor'>
<meta content='/icons/ms-icon-144x144.png' name='msapplication-TileImage'>
<meta content='#ffffff' name='theme-color'>
<meta content='GiottoJS supports area charts for both svg and canvas elements' name='description'>
<meta content='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJMT0NBTEUiOiJlbl9HQiIsImx1eF92ZXJzaW9uIjoiMC44LjEiLCJEQVRFVElNRV9GT1JNQVQiOiJkIE1NTSB5LCBoOm1tOnNzIGEiLCJNRURJQV9VUkwiOiIvbWVkaWEvIiwiREFURV9GT1JNQVQiOiJkIE1NTSB5IiwiTUlOSUZJRURfTUVESUEiOnRydWUsIkNPUFlSSUdIVCI6Ikx1eCIsIkFQSV9VUkwiOiIvYXBpIiwicGFnZSI6eyJib2R5X2xlbmd0aCI6Mzk5LCJkZXNjcmlwdGlvbiI6Ikdpb3R0b0pTIHN1cHBvcnRzIGFyZWEgY2hhcnRzIGZvciBib3RoIHN2ZyBhbmQgY2FudmFzIGVsZW1lbnRzIiwiZ3JvdXAiOiJleGFtcGxlcyIsInNsdWciOiJhcmVhIiwicGF0aCI6Ii9leGFtcGxlcy9hcmVhIiwiYXBpX3VybCI6Imh0dHBzOi8vZ2lvdHRvanMub3JnL2FwaS9jb250ZW50cy9leGFtcGxlcy9hcmVhIiwidGl0bGUiOiJBcmVhIENoYXJ0In0sImRlYnVnIjpmYWxzZSwiQVBQX05BTUUiOiJHaW90dG9KcyJ9.3NW1SSXvoozage_5T-Klcglmx-pXXO5dgelAUeMFFpw' name='html-context'>
<meta content='website' property='og:type'>
<meta content='https://giottojs.org/examples/area' property='og:url'>
<meta content='Area Chart' property='og:title'>
<meta content='GiottoJS supports area charts for both svg and canvas elements' property='og:description'>
<meta content='en_GB' property='og:locale'>
<meta content='GiottoJs' property='og:site_name'>
<meta content='https://giottojs.org/giotto-banner.png' property='og:image'>
<meta content='summary' name='twitter:card'>
<meta content='@quantmind' name='twitter:site'>
<meta content='Area Chart' name='twitter:title'>
<meta content='GiottoJS supports area charts for both svg and canvas elements' name='twitter:description'>
<meta content='https://giottojs.org/giotto-banner.png' name='twitter:image'>
<link href='https://giottojs.org/examples/area' rel='canonical'>
<link href='/giottojs-default.css' rel='stylesheet' type='text/css'>
<link href='/icons/apple-icon-57x57.png' rel='apple-touch-icon' sizes='57x57'>
<link href='/icons/apple-icon-60x60.png' rel='apple-touch-icon' sizes='60x60'>
<link href='/icons/apple-icon-72x72.png' rel='apple-touch-icon' sizes='72x72'>
<link href='/icons/apple-icon-76x76.png' rel='apple-touch-icon' sizes='76x76'>
<link href='/icons/apple-icon-114x114.png' rel='apple-touch-icon' sizes='114x114'>
<link href='/icons/apple-icon-120x120.png' rel='apple-touch-icon' sizes='120x120'>
<link href='/icons/apple-icon-144x144.png' rel='apple-touch-icon' sizes='144x144'>
<link href='/icons/apple-icon-152x152.png' rel='apple-touch-icon' sizes='152x152'>
<link href='/icons/apple-icon-180x180.png' rel='apple-touch-icon' sizes='180x180'>
<link href='/icons/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
<link href='/icons/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
<link href='/icons/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
<link href='/icons/android-icon-192x192.png' rel='icon' sizes='192x192' type='image/png'>
<link href='/icons/manifest.json' rel='manifest'>
</head>
<body>
<div id="l-page">
    <div id="l-page-first"></div>
    <navbar d3-model="mainNavbar" brand-height="60"></navbar>
    <div id="page-main" class="container pt80">
    <div class="row page-header">
        <div class="col-sm-6">
            <breadcrumbs></breadcrumbs>
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-pills">
              <li ng-repeat="style in giottoThemes" ng-class="{active: style.name === currentTheme}" >
                <a ng-href="?style=" ng-bind="style.title" ng-click="selectTheme($event, style.name)"></a>
              </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" lux-highlight>
            <h2>Area Chart</h2>
            <div class="row" d3-fluid='giotto.json'>
    <div class="col-sm-10">
        <div data-aspect-ratio="2:1">
            <d3paper></d3paper>
        </div>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default" type="submit" d3-click="vm.randomize()">Randomize</button>
    </div>
</div>

<p>Area charts are enabled by adding <code>area</code> to the <code>draw</code> list.</p>
        </div>
    </div>
</div>

    <div class="hidden-print">
    <div id="footer">
<div class="container">
<div class="row">
<div class="col-sm-12 small">
<p>Library released under the <a href="http://opensource.org/licenses/BSD-3-Clause">BSD License</a>.</p>
<p>Copyright <year></year> <a href="http://lucasbardella.com">Luca Sbardella</a> and <a href="http://quantmind.com">Quantmind</a></p>
</div>
</div>
</div>
</div>
    </div>
</div><script src='/latest/giotto.min.js' type='application/javascript'></script>
<script src='/giottojs.min.js' type='application/javascript'></script>
</body>
</html>