<!DOCTYPE html>
<html data-debug='false' lang='en' prefix='og: http://ogp.me/ns#'>
<head>
<title>Markdown Editor</title>
<meta charset='utf-8'>
<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='#ffffff' name='msapplication-TileColor'>
<meta content='/icons/ms-icon-144x144.png' name='msapplication-TileImage'>
<meta content='#ffffff' name='theme-color'>
<meta content='Dead simple markdown editor with d3-view' name='description'>
<meta content='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEQVRFX0ZPUk1BVCI6ImQgTU1NIHkiLCJNRURJQV9VUkwiOiIvbWVkaWEvIiwibHV4X3ZlcnNpb24iOiIwLjguMSIsIkRBVEVUSU1FX0ZPUk1BVCI6ImQgTU1NIHksIGg6bW06c3MgYSIsIkFQSV9VUkwiOiIvYXBpIiwiTE9DQUxFIjoiZW5fR0IiLCJwYWdlIjp7Imdyb3VwIjoiZXhhbXBsZXMiLCJib2R5X2xlbmd0aCI6ODEyLCJwYXRoIjoiL2V4YW1wbGVzL2VkaXRvciIsImRlc2NyaXB0aW9uIjoiRGVhZCBzaW1wbGUgbWFya2Rvd24gZWRpdG9yIHdpdGggZDMtdmlldyIsInNsdWciOiJlZGl0b3IiLCJ0aXRsZSI6Ik1hcmtkb3duIEVkaXRvciIsImFwaV91cmwiOiJodHRwczovL2dpb3R0b2pzLm9yZy9hcGkvY29udGVudHMvZXhhbXBsZXMvZWRpdG9yIn0sIkNPUFlSSUdIVCI6Ikx1eCIsImRlYnVnIjpmYWxzZSwiQVBQX05BTUUiOiJHaW90dG9KcyIsIk1JTklGSUVEX01FRElBIjp0cnVlfQ.nUaHT3Iyo_Y-_esVPHxozUbVDBMHcmpBiksmLM7UHCk' name='html-context'>
<meta content='website' property='og:type'>
<meta content='https://giottojs.org/examples/editor' property='og:url'>
<meta content='Markdown Editor' property='og:title'>
<meta content='Dead simple markdown editor with d3-view' property='og:description'>
<meta content='en_GB' property='og:locale'>
<meta content='GiottoJs' property='og:site_name'>
<meta content='https://giottojs.org/giotto-banner.png' property='og:image'>
<meta content='summary' name='twitter:card'>
<meta content='@quantmind' name='twitter:site'>
<meta content='Markdown Editor' name='twitter:title'>
<meta content='Dead simple markdown editor with d3-view' name='twitter:description'>
<meta content='https://giottojs.org/giotto-banner.png' name='twitter:image'>
<link href='https://giottojs.org/examples/editor' rel='canonical'>
<link href='/giottojs-default.css' rel='stylesheet' type='text/css'>
<link href='/icons/apple-icon-57x57.png' rel='apple-touch-icon' sizes='57x57'>
<link href='/icons/apple-icon-60x60.png' rel='apple-touch-icon' sizes='60x60'>
<link href='/icons/apple-icon-72x72.png' rel='apple-touch-icon' sizes='72x72'>
<link href='/icons/apple-icon-76x76.png' rel='apple-touch-icon' sizes='76x76'>
<link href='/icons/apple-icon-114x114.png' rel='apple-touch-icon' sizes='114x114'>
<link href='/icons/apple-icon-120x120.png' rel='apple-touch-icon' sizes='120x120'>
<link href='/icons/apple-icon-144x144.png' rel='apple-touch-icon' sizes='144x144'>
<link href='/icons/apple-icon-152x152.png' rel='apple-touch-icon' sizes='152x152'>
<link href='/icons/apple-icon-180x180.png' rel='apple-touch-icon' sizes='180x180'>
<link href='/icons/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
<link href='/icons/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
<link href='/icons/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
<link href='/icons/android-icon-192x192.png' rel='icon' sizes='192x192' type='image/png'>
<link href='/icons/manifest.json' rel='manifest'>
</head>
<body>
<div id="l-page">
    <div id="l-page-first"></div>
    <navbar d3-model="mainNavbar" brand-height="60"></navbar>
    <div class="jumbotron jumbotron-fluid pt110 text-xs-center">
    <h1 class="display-3">Markdown Editor</h1>
    <p class="lead">Dead simple markdown editor with d3-view</p>
</div>
<div id="page-main" class="container">
    <div class="row page-header">
        <div class="col-sm-6">
            <breadcrumbs></breadcrumbs>
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-pills">
              <li ng-repeat="style in giottoThemes" ng-class="{active: style.name === currentTheme}" >
                <a ng-href="?style=" ng-bind="style.title" ng-click="selectTheme($event, style.name)"></a>
              </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" d3-highlight>
            <div class="container" id="editor">
    <div class="row">
        <div class="col-sm-6">
            <textarea class="form-control" rows="20" d3-value="input"># hello</textarea>
        </div>
        <div d3-html="html" class="col-sm-6"></div>
    </div>
</div>

<p><br>
A simple markdown editor inspired by <a href="http://vuejs.org/v2/examples/">vue</a>.</p>

<pre><code class="html">&lt;div class=&quot;container&quot; id=&quot;editor&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-sm-6&quot;&gt;
            &lt;textarea class=&quot;form-control&quot; rows=&quot;20&quot; d3-value=&quot;input&quot;&gt;# hello&lt;/textarea&gt;
        &lt;/div&gt;
        &lt;div d3-html=&quot;html&quot; class=&quot;col-sm-6&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
        </div>
    </div>
</div>

    <div class="hidden-print">
    <div id="footer">
<div class="container">
<div class="row">
<div class="col-sm-12 small">
<p>Library released under the <a href="http://opensource.org/licenses/BSD-3-Clause">BSD License</a>.</p>
<p>Copyright <year></year> <a href="http://lucasbardella.com">Luca Sbardella</a> and <a href="http://quantmind.com">Quantmind</a></p>
</div>
</div>
</div>
</div>
    </div>
</div><script src='/require.js' type='application/javascript'></script>
<script src='/giotto-dev.js' type='application/javascript'></script>
<script src='/giottojs.min.js' type='application/javascript'></script>
<script src='/examples/editor/script.js' type='application/javascript'></script>
</body>
</html>