<!DOCTYPE html>
<html data-debug='false' lang='en' prefix='og: http://ogp.me/ns#'>
<head>
<title>Dynamic forms</title>
<meta charset='utf-8'>
<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='#ffffff' name='msapplication-TileColor'>
<meta content='/icons/ms-icon-144x144.png' name='msapplication-TileImage'>
<meta content='#ffffff' name='theme-color'>
<meta content='Create forms from JSON schema with built in validation' name='description'>
<meta content='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNRURJQV9VUkwiOiIvbWVkaWEvIiwiTUlOSUZJRURfTUVESUEiOnRydWUsImx1eF92ZXJzaW9uIjoiMC44LjIuZGV2MjAxNjEyMDIxMjAyMDAiLCJBUElfVVJMIjoiL2FwaSIsIkRBVEVUSU1FX0ZPUk1BVCI6ImQgTU1NIHksIGg6bW06c3MgYSIsInBhZ2UiOnsiY2F0ZWdvcnkiOiJkMy12aWV3IiwicGF0aCI6Ii9leGFtcGxlcy9mb3JtIiwiYXBpX3VybCI6Imh0dHBzOi8vZ2lvdHRvanMub3JnL2FwaS9jb250ZW50cy9leGFtcGxlcy9mb3JtIiwiZGVzY3JpcHRpb24iOiJDcmVhdGUgZm9ybXMgZnJvbSBKU09OIHNjaGVtYSB3aXRoIGJ1aWx0IGluIHZhbGlkYXRpb24iLCJ0aXRsZSI6IkR5bmFtaWMgZm9ybXMiLCJncm91cCI6ImV4YW1wbGVzIiwiYm9keV9sZW5ndGgiOjkyOSwic2x1ZyI6ImZvcm0ifSwiTE9DQUxFIjoiZW5fR0IiLCJDT1BZUklHSFQiOiJMdXgiLCJBUFBfTkFNRSI6Ikdpb3R0b0pzIiwiZGVidWciOmZhbHNlLCJEQVRFX0ZPUk1BVCI6ImQgTU1NIHkifQ.058KWoOwyapj10RlbOWx5F6blq_zopszDOunr0OmZ7Q' name='html-context'>
<meta content='website' property='og:type'>
<meta content='https://giottojs.org/examples/form' property='og:url'>
<meta content='Dynamic forms' property='og:title'>
<meta content='Create forms from JSON schema with built in validation' property='og:description'>
<meta content='en_GB' property='og:locale'>
<meta content='GiottoJs' property='og:site_name'>
<meta content='https://giottojs.org/giotto-banner.png' property='og:image'>
<meta content='summary' name='twitter:card'>
<meta content='@quantmind' name='twitter:site'>
<meta content='Dynamic forms' name='twitter:title'>
<meta content='Create forms from JSON schema with built in validation' name='twitter:description'>
<meta content='https://giottojs.org/giotto-banner.png' name='twitter:image'>
<link href='https://giottojs.org/examples/form' rel='canonical'>
<link href='/giottojs-default.css' rel='stylesheet' type='text/css'>
<link href='/icons/apple-icon-57x57.png' rel='apple-touch-icon' sizes='57x57'>
<link href='/icons/apple-icon-60x60.png' rel='apple-touch-icon' sizes='60x60'>
<link href='/icons/apple-icon-72x72.png' rel='apple-touch-icon' sizes='72x72'>
<link href='/icons/apple-icon-76x76.png' rel='apple-touch-icon' sizes='76x76'>
<link href='/icons/apple-icon-114x114.png' rel='apple-touch-icon' sizes='114x114'>
<link href='/icons/apple-icon-120x120.png' rel='apple-touch-icon' sizes='120x120'>
<link href='/icons/apple-icon-144x144.png' rel='apple-touch-icon' sizes='144x144'>
<link href='/icons/apple-icon-152x152.png' rel='apple-touch-icon' sizes='152x152'>
<link href='/icons/apple-icon-180x180.png' rel='apple-touch-icon' sizes='180x180'>
<link href='/icons/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
<link href='/icons/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
<link href='/icons/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
<link href='/icons/android-icon-192x192.png' rel='icon' sizes='192x192' type='image/png'>
<link href='/icons/manifest.json' rel='manifest'>
<script src='/require.js' type='application/javascript'></script>
<script src='/giotto-dev.js' type='application/javascript'></script>
<script src='/giottojs.min.js' type='application/javascript'></script>
</head>
<body>
<div id="page">
    <navbar d3-model="mainNavbar" brand-height="60"></navbar>
    <div class="jumbotron jumbotron-fluid pt110 text-xs-center">
    <h1 class="display-3">Dynamic forms</h1>
    <p class="lead">Create forms from JSON schema with built in validation</p>
</div>
<div id="page-main" class="container">
    <div class="row page-header">
        <div class="col-sm-6">
            <breadcrumbs></breadcrumbs>
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-pills">
              <li ng-repeat="style in giottoThemes" ng-class="{active: style.name === currentTheme}" >
                <a ng-href="?style=" ng-bind="style.title" ng-click="selectTheme($event, style.name)"></a>
              </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" d3-highlight>
            <div id="page" class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="mx-auto mw400">
                <h2 class="text-xs-center">From object</h2>
                <d3form json="$simpleform"></d3form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mx-auto" style="max-width: 400px">
                <h2 class="text-xs-center">From url</h2>
                <d3form json="/examples/form/form.json"></d3form>
            </div>
        </div>
    </div>
</div>

<p><br></p>

<p>Create dynamic forms from <a href="/examples/form/form.json">JSON Schema</a> with
client side validation.</p>

<pre><code class="html">&lt;d3form json=&quot;/examples/form/form.json&quot;&gt;&lt;/d3form&gt;
</code></pre>

<p>You can style with bootstrap v4.0 too:</p>

<pre><code class="javascript">vm.use(d3.viewForms).use(d3.viewBootstrapForms).mount('#page');
</code></pre>
        </div>
    </div>
</div>

    <div class="hidden-print">
    <div id="footer">
<div class="container">
<div class="row">
<div class="col-sm-12 small">
<p>Library released under the <a href="http://opensource.org/licenses/BSD-3-Clause">BSD License</a>.</p>
<p>Copyright <year></year> <a href="http://lucasbardella.com">Luca Sbardella</a> and <a href="http://quantmind.com">Quantmind</a></p>
</div>
</div>
</div>
</div>
    </div>
</div><script src='/examples/form/script.js' type='application/javascript'></script>
</body>
</html>