<!DOCTYPE html>
<html data-debug='false' lang='en' prefix='og: http://ogp.me/ns#'>
<head>
<title>Navbar Component</title>
<meta charset='utf-8'>
<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='#ffffff' name='msapplication-TileColor'>
<meta content='/icons/ms-icon-144x144.png' name='msapplication-TileImage'>
<meta content='#ffffff' name='theme-color'>
<meta content='GiottoJS is a javascript visualization library built on top of d3js. It is designed to visualize both SVG and Canvas elements with a simple API. AngularJS integration' name='description'>
<meta content='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsdXhfdmVyc2lvbiI6IjAuOC4yLmRldjIwMTYxMjAyMTIwMjAwIiwiQVBJX1VSTCI6Ii9hcGkiLCJBUFBfTkFNRSI6Ikdpb3R0b0pzIiwiQ09QWVJJR0hUIjoiTHV4IiwiZGVidWciOmZhbHNlLCJNRURJQV9VUkwiOiIvbWVkaWEvIiwiTE9DQUxFIjoiZW5fR0IiLCJEQVRFX0ZPUk1BVCI6ImQgTU1NIHkiLCJEQVRFVElNRV9GT1JNQVQiOiJkIE1NTSB5LCBoOm1tOnNzIGEiLCJNSU5JRklFRF9NRURJQSI6dHJ1ZSwicGFnZSI6eyJ0aXRsZSI6Ik5hdmJhciBDb21wb25lbnQiLCJib2R5X2xlbmd0aCI6NDE5LCJwYXRoIjoiL2V4YW1wbGVzL25hdmJhciIsImFwaV91cmwiOiJodHRwczovL2dpb3R0b2pzLm9yZy9hcGkvY29udGVudHMvZXhhbXBsZXMvbmF2YmFyIiwiZ3JvdXAiOiJleGFtcGxlcyIsInNsdWciOiJuYXZiYXIifX0.Oir0bSRbLb6mCj7PkjGa-zSxlseoFHoieQaywXnLB7w' name='html-context'>
<meta content='website' property='og:type'>
<meta content='https://giottojs.org/examples/navbar' property='og:url'>
<meta content='Navbar Component' property='og:title'>
<meta content='GiottoJS is a javascript visualization library built on top of d3js. It is designed to visualize both SVG and Canvas elements with a simple API. AngularJS integration' property='og:description'>
<meta content='en_GB' property='og:locale'>
<meta content='GiottoJs' property='og:site_name'>
<meta content='https://giottojs.org/giotto-banner.png' property='og:image'>
<meta content='summary' name='twitter:card'>
<meta content='@giottojs_org' name='twitter:site'>
<meta content='Navbar Component' name='twitter:title'>
<meta content='GiottoJS is a javascript visualization library built on top of d3js. It is designed to visualize both SVG and Canvas elements with a simple API. AngularJS integration' name='twitter:description'>
<meta content='https://giottojs.org/giotto-banner.png' name='twitter:image'>
<link href='https://giottojs.org/examples/navbar' rel='canonical'>
<link href='/giottojs-default.css' rel='stylesheet' type='text/css'>
<link href='/icons/apple-icon-57x57.png' rel='apple-touch-icon' sizes='57x57'>
<link href='/icons/apple-icon-60x60.png' rel='apple-touch-icon' sizes='60x60'>
<link href='/icons/apple-icon-72x72.png' rel='apple-touch-icon' sizes='72x72'>
<link href='/icons/apple-icon-76x76.png' rel='apple-touch-icon' sizes='76x76'>
<link href='/icons/apple-icon-114x114.png' rel='apple-touch-icon' sizes='114x114'>
<link href='/icons/apple-icon-120x120.png' rel='apple-touch-icon' sizes='120x120'>
<link href='/icons/apple-icon-144x144.png' rel='apple-touch-icon' sizes='144x144'>
<link href='/icons/apple-icon-152x152.png' rel='apple-touch-icon' sizes='152x152'>
<link href='/icons/apple-icon-180x180.png' rel='apple-touch-icon' sizes='180x180'>
<link href='/icons/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
<link href='/icons/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
<link href='/icons/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
<link href='/icons/android-icon-192x192.png' rel='icon' sizes='192x192' type='image/png'>
<link href='/icons/manifest.json' rel='manifest'>
<script src='/require.js' type='application/javascript'></script>
<script src='/giotto-dev.js' type='application/javascript'></script>
<script src='/giottojs.min.js' type='application/javascript'></script>
</head>
<body>
<div id="page">
    <navbar d3-model="mainNavbar" brand-height="60"></navbar>
    <div class="jumbotron jumbotron-fluid pt110 text-xs-center">
    <h1 class="display-3">Navbar Component</h1>
    <p class="lead"></p>
</div>
<div id="page-main" class="container">
    <div class="row page-header">
        <div class="col-sm-6">
            <breadcrumbs></breadcrumbs>
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-pills">
              <li ng-repeat="style in giottoThemes" ng-class="{active: style.name === currentTheme}" >
                <a ng-href="?style=" ng-bind="style.title" ng-click="selectTheme($event, style.name)"></a>
              </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" d3-highlight>
            <p><navbar d3-model="navbar"></navbar></p>

<form>
    <fieldset class="form-group">
        <legend>Choose a style</legend>
        <div class="radio" d3-for="theme in themes">
            <label>
                <input class="form-check-input" type="radio" name="theme" d3-on-click="navbar.$set('theme', theme)">
                <span d3-html="theme"></span>
            </label>
        </div>
    </fieldset>
</form>
        </div>
    </div>
</div>

    <div class="hidden-print">
    <div id="footer">
<div class="container">
<div class="row">
<div class="col-sm-12 small">
<p>Library released under the <a href="http://opensource.org/licenses/BSD-3-Clause">BSD License</a>.</p>
<p>Copyright <year></year> <a href="http://lucasbardella.com">Luca Sbardella</a> and <a href="http://quantmind.com">Quantmind</a></p>
</div>
</div>
</div>
</div>
    </div>
</div><script src='/examples/navbar/script.js' type='application/javascript'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54439804-4', 'auto');
  ga('send', 'pageview');

</script></body>
</html>